.bg-pmc-1{
    background: #312782!important;
    color: white!important;
}
.bg-pmc-2{
    background: #e20613;
}
.bg-pmc-1 a, .bg-pmc-2 a{
    text-decoration: none;
}
.text-pmc-2{
    color: #e20613;
}
.text-strong{
    font-weight: bold;
}
.text-strong ul li{
    font-weight: normal;
}
.bg-cinza{
    background: #E4E6E5;
}
.aviso-topo *{
    font-weight: normal;
    color: white;
    text-decoration: none;
}
.aviso-topo a:hover, .aviso-topo a:hover i{
    color: #ccc;
}

.breadcrumb a{
    text-decoration: none;
}
.breadcrumb a:hover{
    text-decoration: underline;
}

.example-image-link {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: var(--bg-color);
    line-height: 0;
    border-radius: var(--border-radius-large);
}
.example-image-link:hover {
    background-color: var(--primary-color);
}

.lightbox-image {
    width: 7rem;
    border-radius: var(--border-radius);
}

#banner-topo{
    width: 100%;
    min-height: 420px;
    background-image: url(../imagens/banner-topo.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.navbar-nav  .nav-link{
    color: black;
}
.navbar-nav .nav-link:hover{
    color: #443a3a;
}
@media(max-width: 990px){
    .aviso-topo .navbar-text{
        width: 100%;
        text-align: center;
    }
    .aviso-topo .list-inline{
        display: none;
    }
}